/*轮播图*/
#lunbo{
  width: 1000px;
  height:563px;
  border: 1px solid #767676;
  margin: 20px auto;
  margin-bottom: 0px;
  float: center;
  position: relative;
  margin-top: 1px;
}

#lunbo img{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#lunbo ul{
  position: absolute;
  left: 450px;
  bottom: 10px;
}

#lunbo ul li{
  list-style: none;
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  float: left;
  margin-right: 8px;
  border-radius: 6px;
}