.list{
  font-size:15px;
  float: center;
  width: 100%;
  height: 500px;
  background: #E6EAE9;
}

.list table{
  border: 1px solid #95dfcc;
}

.list table{
  float: center;
  margin: 20px auto;
  color: #4f6b72;
  padding: 0;
}

.list th{
  font: bold 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align:center;
  padding: 6px 6px 6px 12px;
}

.list td{
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  background: #fff;
  font-size:15px;
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
}

.list caption{
  margin-bottom: 14px;
  color: #60baaa;
  padding: 0 0 5px 0;
  font: italic 18px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.list .page{
  text-align: center;
}

.stu_list{
  width: 80%;
  background: blue;
  float: center;
  margin: 0 auto;
}

.list a#del,.list a#mod{
  color: #a00000;
}

.list a#del:hover,.list a#mod:hover{
  color:red;
}

.list .bp{
  color: #747474;
  display: block;
  float: left;
  width: 45px;
  height: 20px;
  font-size: 14px;
  background-color: pink;
  text-align: center;
  margin-right: 10px;
  text-shadow: 1px 1px 1px #FF0000;
}

.list .bp:hover{
  color: #FF0000;
}

.list .bq{
  font-weight: bold;
  color: black;
  display: block;
  float: left;
  width: 45px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
}

.list #yema{
  color: black;
  display: block;
  float: left;
  width: 45px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
}

.list .bp:hover{
  cursor: pointer ;
}

.list #bottompage{
  height: 20px;
  width: 390px;
  margin: 0px auto;
}